{% extends "base.html" %}
{% load datetime_filters %}
{% block head %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-gpx/1.5.1/gpx.min.js"></script>
{% endblock %}


{% block content %}

<section class="section">
    <div class="columns is-centered is-vcentered">
        <div class="column">
            <div class="box">
                <h1 class="title">
                    {{ trip.title }}
                </h1>
                <p class="subtitle">{{ trip.date|rfc3339 }}</p>
                <hr>
                <div id="map" class="image is-4by3"></div>
                {% if trip.gpx_file %}
                <a href="{{ trip.gpx_file.url }}" class="card-footer-item">GPX-Datei herunterladen</a>
                {% endif %}
                <hr class="hr">
                <nav class="level">
                    <div class="level-item has-text-centered">
                        <div>
                            <p class="heading">Boot</p>
                            {% if trip.boat.info_url %}
                            <p><a href="{{ trip.boat.info_url }}" target="_blank" class="title">{{ trip.boat.name }}</a></p>
                            {% else %}
                            <p class="title">{{ trip.boat.name }}</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="level-item has-text-centered">
                        <div>
                            <p class="heading">Distanz</p>
                            <p class="title">{{ trip.distance_nm|default:"–" }} sm</p>
                        </div>
                    </div>
                    <div class="level-item has-text-centered">
                        <div>
                            <p class="heading">Dauer</p>
                            <p class="title">{{ trip.duration|default:"–" }}</p>
                        </div>
                    </div>
                </nav>
                <hr class="hr">
                <h2>Beschreibung</h2>
                <p>{{ trip.description|linebreaks }}</p>
            </div>
        </div>
    </div>
</section>





<script>
    // Karte erstellen
    const map = L.map('map');

    // OpenStreetMap-Tiles
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '© OpenStreetMap contributors'
    }).addTo(map);


    L.tileLayer('https://tiles.openseamap.org/seamark/{z}/{x}/{y}.png', {
        attribution: 'Map: © OpenSeaMap contributors',
        transparent: true
    }).addTo(map);

    // GPX-Datei laden
    const gpx = '{{ trip.gpx_file.url }}'; // URL der GPX-Datei

    new L.GPX(gpx, {
        async: true,
        marker_options: {
            startIconUrl: 'https://unpkg.com/leaflet-gpx@1.5.1/pin-icon-start.png',
            endIconUrl: 'https://unpkg.com/leaflet-gpx@1.5.1/pin-icon-end.png',
            shadowUrl: 'https://unpkg.com/leaflet-gpx@1.5.1/pin-shadow.png'
        }
    }).on('loaded', function(e) {
        map.fitBounds(e.target.getBounds());
    }).addTo(map);
</script>
{% endblock %}