
{% extends "base.html" %}
{% load static %}
{% load form_filters %}

{% block head %}
<script src="{% static 'js/trip_create.js' %}" defer></script>
{% endblock %}


{% block content %}

<section class="section">
  <div class="container">
    <h1 class="title">Neue Fahrt hinzufügen</h1>

    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}

      <!-- Titel -->
      <div class="field">
        <label class="label">Titel</label>
        <div class="control">
          {{ form.title }}
        </div>
        {% if form.title.errors %}
        <p class="help is-danger">{{ form.title.errors.0 }}</p>
        {% endif %}
      </div>

      <!-- GPX-Datei -->
      <div class="field">
        <label class="label">GPX-Datei</label>
        <div class="file has-name is-fullwidth">
          <label class="file-label">
            {{ form.gpx_file|add_class:"file-input" }}
            <span class="file-cta">
        <span class="file-icon">
          <i class="fas fa-upload"></i>
        </span>
        <span class="file-label">Datei auswählen…</span>
      </span>
            <span class="file-name" id="gpx-file-name">
        Keine Datei ausgewählt
      </span>
          </label>
        </div>
      </div>

      <!-- Boot -->
      <div class="field">
        <label class="label">Boot</label>
        <div class="control select">
          {{ form.boat }}
        </div>
        {% if form.boat.errors %}
        <p class="help is-danger">{{ form.boat.errors.0 }}</p>
        {% endif %}
      </div>

      <!-- Beschreibung -->
      <div class="field">
        <label class="label">Beschreibung</label>
        <div class="control">
          {{ form.description }}
        </div>
        {% if form.description.errors %}
        <p class="help is-danger">{{ form.description.errors.0 }}</p>
        {% endif %}
      </div>


      <!-- Speichern -->
      <div class="field">
        <div class="control">
          <button type="submit" class="button is-primary">Speichern</button>
        </div>
      </div>
    </form>
  </div>
</section>


{% endblock %}