    #map:fullscreen {
      position: fixed;
      top: 0; left: 0; right: 0; bottom: 0;
      width: 100% !important;
      height: 100% !important;
      z-index: 9999;
    }

    .square-wrapper {
      position: relative;
      width: 100%;
      padding-bottom: 100%; /* Höhe = Breite */
    }

    .square-wrapper canvas {
      position: absolute;
      top: 0;
      left: 0;
    }