{% load static %}
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Sailor's Log{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bulma.css' %}">
    <script src="https://kit.fontawesome.com/5efd875eb0.js" crossorigin="anonymous" defer></script>
    <script type="module" src="{% static 'js/main.js' %}" defer></script>
    {% block head %}{% endblock %}
</head>
<body>
{% include "includes/navbar.html" %}
<main>{% block content %}{% endblock %}</main>
{% include "includes/footer.html" %}
</body>
</html>